@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --smoky-black: #0d0d0d;
  --midnight-obsidian: #17181e;
  --purple-hedonist: #b366ff;
  --digital-lilac: #d9b8ff;
  --arabic-white: #f0eff5;
}

body {
  font-family: Roboto;
  background-color: var(--smoky-black);
  color: var(--arabic-white);
  box-sizing: border-box;
  margin: 15px 5%;
}

.navWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: var(--midnight-obsidian);
  box-shadow: 0px 0px 15px -5px var(--arabic-white);
  height: 52px;
  width: 60%;
  border-radius: 60px;
  padding: 10px;
  margin-bottom: 80px;
  transition: box-shadow 0.3s ease-in-out;
}

.nav:hover {
  box-shadow: 0px 0px 15px 0px var(--digital-lilac);
}

.nav img {
  padding: 0px;
  max-height: 60px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3%;
  gap: 25px;
}

.navContainer .navItems {
  display: inline-block;
  color: var(--digital-lilac);
  font-size: 1.5em;
  position: relative;
}

.navItems:hover {
  color: var(--digital-lilac);
}

.navItems::after,
.navItems::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--purple-hedonist), var(--digital-lilac));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.navItems::before {
  top: -5px;
  transform-origin: left;
}

.navItems:hover::after,
.navItems:hover::before {
  transform: scaleX(1);
}

.auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.auth button {
  display: block;
  width: 100px;
  height: 55px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  transition: all 0.35s;
  overflow: hidden;
}

.auth #signup {
  background-color: var(--arabic-white);
  border-radius: 50px;
}

.auth #signup .signupSpan {
  position: relative;
  font-size: 1.5em;
  color: var(--smoky-black);
  transition: 0.5s;
  z-index: 3;
}

.auth #signup:hover .signupSpan {
  color: var(--arabic-white);
  transform: rotateY(360deg);
}

.auth #login:before,
.auth #signup:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

.auth #signup:before {
  background: var(--purple-hedonist);
}

.auth #signup:hover:before {
  top: 0;
}

.auth #login {
  background-color: var(--purple-hedonist);
}

#login .loginSpan {
  position: relative;
  font-size: 1.5em;
  transition: 0.5s;
  z-index: 3;
  color: var(--arabic-white);
}

.auth #login:hover .loginSpan {
  color: var(--smoky-black);
  transform: rotateY(360deg);
}

.auth #login:before {
  background-color: var(--arabic-white);
}

.auth #login:hover:before {
  top: 0;
}

.removeDecoration {
  text-decoration: none;
}

.counter:hover,
.createContainer:hover,
.modalContent:hover,
.taskCard:hover,
.signupContainer:hover,
.loginContainer:hover {
  box-shadow: 0px 0px 15px -4px var(--digital-lilac);
}

.modalContent,
.loginContainer,
.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--midnight-obsidian);
  border: solid hsl(231, 13%, 30%) 1px;
  box-shadow: 0px 0px 15px -8px var(--arabic-white);
  border-radius: 20px;
  margin: auto;
  gap: 50px;
  transition: box-shadow 0.3s ease-in-out;
}

.modalContent,
.signupContainer {
  width: 500px;
  height: 630px;
}

.loginContainer {
  width: 500px;
  height: 550px;
}

.loginContainer h1,
.signupContainer h1 {
  font-size: 3em;
}

.modalContent input,
.loginContainer input,
.signupContainer input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid hsla(250, 23%, 95%, 0.329);
  padding: 8px 0;
  width: 70%;
  font-size: 16px;
  color: var(--arabic-white);
}

.modalContent input::placeholder,
.loginContainer input::placeholder,
.signupContainer input::placeholder {
  color: hsla(250, 23%, 95%, 0.329);
  opacity: 1;
}

.modalContent input:focus,
.loginContainer input:focus,
.signupContainer input:focus {
  border-bottom: 1px solid hsla(250, 23%, 95%, 0.62);
  transition: border-color 0.3s ease;
}

.loginContainer button,
.signupContainer button {
  width: 120px;
  height: 50px;
  font-size: 1.1em;
  color: var(--arabic-white);
  background: var(--smoky-black);
}

.loginLink,
.signupLink {
  margin: -30px;
  color: var(--digital-lilac);
}

.loaderContainer,
.errorContainer,
.taskContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.loaderContainer,
.errorContainer {
  margin: 100px;
}

.createContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 50px;
  text-align: center;
  background-color: var(--midnight-obsidian);
  border: solid hsl(231, 13%, 30%) 1px;
  box-shadow: 0px 0px 15px -8px var(--arabic-white);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto;
}

.plus-icon {
  font-size: 22px;
  line-height: 1;
}

.modalContent button,
.createContainer button {
  background-color: var(--purple-hedonist);
  color: var(--arabic-white);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modalContent button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  border-radius: 10px;
}

.createContainer button {
  padding: 14px 10px;
  margin-left: auto;
  border-radius: 16px;
}

.modalContent button:hover,
.createContainer button:hover {
  background-color: hsl(270, 100%, 65%);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.priorityContainer {
  display: flex;
  flex-direction: column;
}

.priority {
  display: flex;
  position: relative;
  background: var(--smoky-black);
  border-radius: 1rem;
  backdrop-filter: blur(12px);
  overflow: hidden;
  width: fit-content;
}

.priority input {
  display: none;
}

.priority label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  font-size: 14px;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--arabic-white);
  position: relative;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}

.glider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% / 3);
  border-radius: 1rem;
  z-index: 1;
  transition:
    transform 0.5s cubic-bezier(0.37, 1.95, 0.66, 0.56),
    background-color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

#lowPriority:checked ~ .glider {
  transform: translateX(0%);
  background-color: hsla(81, 97%, 64%, 0.5);
}

#mediumPriority:checked ~ .glider {
  transform: translateX(100%);
  background-color: hsla(43, 100%, 50%, 0.5);
}

#highPriority:checked ~ .glider {
  transform: translateX(200%);
  background-color: hsla(0, 93%, 57%, 0.5);
}

.error {
  color: #f72b2b;
  margin-top: -30px;
}

.taskDetails {
  width: 35%;
  height: 500px;
  background-color: var(--midnight-obsidian);
  border: solid hsl(231, 13%, 30%) 1px;
  box-shadow: 0px 0px 15px -8px var(--arabic-white);
  border-radius: 20px;
  padding: 30px;
  margin: 10px auto;
  transition: box-shadow 0.3s ease-in-out;
}

.taskDetails .taskDetailsHeader{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.taskDetails .taskDetailsButtons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
}


.taskCard {
  display: inline-flex;
  flex-direction: column;
  width: 23.3%;
  height: 220px;
  text-align: center;
  color: var(--arabic-white);
  text-decoration: none;
  background-color: var(--midnight-obsidian);
  border: solid hsl(231, 13%, 30%) 1px;
  box-shadow: 0px 0px 15px -8px var(--arabic-white);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.taskCardPending,
.taskCardHighPriority,
.taskCardMediumPriority,
.taskCardLowPriority {
  display: inline-block;
  border-radius: 10px;
  padding: 8px;
}

.taskCardHighPriority {
  color: hsl(0, 93%, 57%);
  background-color: hsla(0, 93%, 57%, 0.17);
  align-self: self-start;
}

.taskCardMediumPriority {
  color: hsl(43, 100%, 50%);
  background-color: hsla(43, 100%, 50%, 0.17);
  align-self: self-start;
}

.taskCardLowPriority {
  color: hsl(81, 97%, 64%);
  background-color: hsla(81, 97%, 64%, 0.17);
  align-self: self-start;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  text-align: center;
  background-color: var(--midnight-obsidian);
  border: solid hsl(231, 13%, 30%) 1px;
  box-shadow: 0px 0px 15px -8px var(--arabic-white);
  border-radius: 20px;
  margin: auto;
  transition: box-shadow 0.3s ease-in-out;
}

.counter span {
  font-size: 7em;
  padding: 10px;
}

.counter .counterButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.counter .counterButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.loginContainer button,
.signupContainer button,
.counterButtons button {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.counterButtons button {
  width: 100px;
  height: 50px;
  color: var(--arabic-white);
  background: var(--smoky-black);
}

.loginContainer button:before,
.signupContainer button:before,
.counterButtons button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #5b21b6,
    #7c3aed,
    var(--purple-hedonist),
    var(--digital-lilac),
    #e448ec,
    #f472b6,
    #6366f1,
    #2270ee,
    #3590e6
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.loginContainer button:active,
.signupContainer button:active,
.counterButtons button:active {
  color: #000;
}

.loginContainer button:active:after,
.signupContainer button:active:after,
.counterButtons button:active:after {
  background: transparent;
}

.loginContainer button:hover:before,
.signupContainer button:hover:before,
.counterButtons button:hover:before {
  opacity: 1;
}

.loginContainer button:after,
.signupContainer button:after,
.counterButtons button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.loginContainer button:after,
.signupContainer button:after,
.counterButtons button:after {
  background: #111;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.loader {
  width: 40px;
  height: 20px;
  --c: no-repeat radial-gradient(farthest-side, var(--arabic-white) 93%, #0000);
  background:
    var(--c) 0 0,
    var(--c) 50% 0;
  background-size: 8px 8px;
  position: relative;
  clip-path: inset(-200% -100% 0 0);
  animation: l6-0 1.5s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: var(--arabic-white);
  left: -16px;
  top: 0;
  animation:
    l6-1 1.5s linear infinite,
    l6-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 0 0 auto auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--arabic-white);
  animation: l6-3 1.5s linear infinite;
}

footer {
  display: flex;
  flex-direction: row;
  color: hsla(250, 23%, 95%, 0.329);
  padding: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@keyframes l6-0 {
  0%,
  30% {
    background-position:
      0 0,
      50% 0;
  }
  33% {
    background-position:
      0 100%,
      50% 0;
  }
  41%,
  63% {
    background-position:
      0 0,
      50% 0;
  }
  66% {
    background-position:
      0 0,
      50% 100%;
  }
  74%,
  100% {
    background-position:
      0 0,
      50% 0;
  }
}
@keyframes l6-1 {
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(15px);
    left: calc(100% - 8px);
  }
}
@keyframes l6-2 {
  100% {
    top: -0.1px;
  }
}
@keyframes l6-3 {
  0%,
  80%,
  100% {
    transform: translate(0);
  }
  90% {
    transform: translate(26px);
  }
}

.statusContainer{
  margin-top: 10px;
  height: 100%;
  display: flex;
  align-items: end;
  flex-direction: row;
  border-top: solid hsl(231, 13%, 30%) 1px;
}

.taskCardPending{
  color: hsla(250, 23%, 95%, 0.65);
  background-color: hsla(250, 23%, 95%, 0.17);
}
